@charset "UTF-8";

/*@font-face {
  font-family: "icon";
  font-display: swap;
  src: url("../fonts/icon.woff") format("woff"), url("../fonts/icon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
*::-moz-selection {
  background: rgba(70, 133, 110, 0.6);
}

*::selection {
  background: rgba(70, 133, 110, 0.6);
}

.wrapper {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Roboto';
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 1357px;
  margin: 0 auto;
  padding: 0px 15px;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._btn-big {
  border: 2px solid #1A1A1A;
  font-weight: 600;
  font-size: 16px;
  color: #1A1A1A;
  width: 200px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

._btn-big:hover {
  background-color: #1A1A1A;
  color: #fff;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0%;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__content {
  position: relative;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header._active .header__content {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.header__up {
  z-index: 41;
  background-color: #F4F4F4;
  padding: 13px 0px;
  color: #AAAAAA;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.header__up-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  margin-right: 25px;
}

.header__contact::-moz-selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.header__contact::selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.header__tel {
  position: relative;
  z-index: 13;
  color: #AAAAAA;
  margin-right: 25px;
}

.header__tel::-moz-selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.header__tel::selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.header__tel::-moz-selection:hover {
  text-decoration: underline;
}

.header__tel::selection:hover {
  text-decoration: underline;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang:hover .header__arrow-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__lang::-moz-selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.header__lang::selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.header__arrow-down {
  font-size: 20px;
  line-height: 100%;
}

.header__down {
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  position: relatiave;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 86px;
}

.header__logo__img {
  background-position: center;
  background-size: contain;
  padding-top: 50px;
}

.header__logo {
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  cursor: pointer;
  color: #21243D;
  font-size: 50px;
}

.header__logo:hover {
  -webkit-transform: scale(1.1) rotate(9deg);
      -ms-transform: scale(1.1) rotate(9deg);
          transform: scale(1.1) rotate(9deg);
}

.header__logo:active {
  -webkit-transform: scale(1) rotate(-9deg);
      -ms-transform: scale(1) rotate(-9deg);
          transform: scale(1) rotate(-9deg);
  color: #46856E;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-link {
  margin-right: 100px;
}

.header__menu-link:hover {
  position: relative;
  z-index: 40;
  text-decoration: underline;
}

.header__menu-link,
.header__info-location {
  position: relative;
  z-index: 40;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.header__menu-link span,
.header__info-location span {
  font-size: inherit;
}

.header__info .header__info-location {
  position: relative;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info .header__info-location a {
  position: relative;
  z-index: 40;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
}

.header__info .header__info-location span {
  position: relative;
  z-index: 40;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.header__info_basket {
  position: relative;
  font-size: 23px;
  cursor: pointer;
  right: 9px;
}

.header__info_basket span {
  position: absolute;
  font-size: 14px;
  background-color: #46856E;
  color: #fff;
  border-radius: 50%;
  padding: 3.5px 5.5px;
  top: -11px;
  right: -10px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.header__info_basket:hover span {
  -webkit-transform: translate(5px, -5px) rotate(12deg);
      -ms-transform: translate(5px, -5px) rotate(12deg);
          transform: translate(5px, -5px) rotate(12deg);
}

.header__burger {
  position: relative;
  z-index: 42;
  margin-left: 15px;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #21243D;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  top: 50%;
  margin: -1px 0px 0px 0px;
}

.header__burger::after {
  bottom: 0;
}

.header__burger._active::before {
  -webkit-transform: translate(0px, 8px) rotate(45deg);
      -ms-transform: translate(0px, 8px) rotate(45deg);
          transform: translate(0px, 8px) rotate(45deg);
}

.header__burger._active span {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.header__burger._active::after {
  -webkit-transform: translate(0px, -8px) rotate(-45deg);
      -ms-transform: translate(0px, -8px) rotate(-45deg);
          transform: translate(0px, -8px) rotate(-45deg);
}

.page,
main {
  margin-top: 128px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page {
  z-index: 2px;
}

.page__main-image {
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.main-image {
  padding: 61.807% 0px 0px 0px;
  position: relative;
  z-index: -1;
}

.page__that {
  padding-top: 52px;
  padding-bottom: 140px;
}

.that__content {
  opacity: 0;
  -webkit-transform: translate(0, -280px);
      -ms-transform: translate(0, -280px);
          transform: translate(0, -280px);
  -webkit-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  -o-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.page__that._active .that__content {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.page__that-item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}

.page__that-title {
  font-size: 48px;
  font-size: 48px;
  line-height: 121%;
  color: #1A1A1A;
}

.page__that-text {
  line-height: 130%;
  color: #AAAAAA;
  font-size: 22px;
}

.page__that-text::-moz-selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

.page__that-text::selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

[class*=-text]::-moz-selection, [class*=__text]::-moz-selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

[class*=-text]::selection,
[class*=__text]::selection {
  background-color: navajowhite;
  color: #1A1A1A;
}

._anim-items {
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  -o-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

._anim-items._active {
  opacity: 1;
}

.page__room {
  margin-bottom: 120px;
}

.room__row {
  display: grid;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}

.room__image {
  position: relative;
  z-index: -1;
  padding-top: 129.4%;
  margin-bottom: 9px;
}

.room__title {
  line-height: 110%;
}

.one-photo-slider {
  overflow: hidden;
}

.one-photo {
  margin-bottom: 50px;
}

.one-photo__image {
  padding-top: 52%;
  margin-bottom: 50px;
}

.one-photo__title {
  font-size: 36px;
  max-width: 630px;
  margin: 0 auto;
}

.page__slider {
  overflow: hidden;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}

.page-slider__item {
  position: relative;
}

.page-slider__image {
  padding: 65.5% 0px 0px 0px;
  background-size: contain;
}

.page__slider__body {
  padding: 0px 5px;
  margin-top: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__slider__title {
  font-size: 36px;
  margin-bottom: 10px;
}

.page__slider__text {
  max-width: 406px;
  color: #AAA;
  font-size: 16px;
}

.swiper-button-prev {
  -webkit-transform: translate(50px, 0px);
      -ms-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}

.swiper-button-next {
  -webkit-transform: translate(-50px, 0px);
      -ms-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
}

.swiper-pagination-bullet-active {
  background-color: #46856e;
  color: #46856e;
}

.gallery {
  padding-bottom: 120px;
  font-size: 32px;
  line-height: 112%;
  color: #1A1A1A;
}

.gallery__first-text {
  margin-bottom: 35px;
  color: #AAAAAA;
  font-size: 24px;
  max-width: 820px;
  margin: 0 auto;
  line-height: 130%;
}

.gallery__name {
  padding-bottom: 60px;
  max-width: 820px;
  margin: 0 auto;
}

.gallery__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.gallery__item:not(:last-child) {
  margin-bottom: 50px;
}

.gallery__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.gallery__img {
  width: 100;
}

.gallery__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__title {
  font-size: 32px;
  line-height: 112%;
  color: #1A1A1A;
  margin-bottom: 27px;
}

.gallery__text {
  font-size: 19px;
  line-height: 150%;
  color: #AAAAAA;
}

.download {
  margin-bottom: 50px;
}

.download__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.download__item:first-child {
  padding-right: 0;
}

.download__item:last-child {
  padding-left: 0;
}

.download__item-content {
  padding-top: 40px;
  border-top: 4px solid #1A1A1A;
}

.download__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__name {
  font-size: 28px;
  font-weight: 600;
}

.download__text {
  font-size: 21px;
  color: #AAA;
}

.download__button {
  font-size: 16px;
  max-width: 12em;
  max-height: 4.6875em;
}

.page__form {
  margin-top: 60px;
  margin-bottom: 50px;
}

.form__body {
  max-width: 664px;
  border: 3px solid #1A1A1A;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 25px 25px 25px;
}

.form__main-title {
  font-size: 36px;
  padding: 20px;
  padding: 20px;
  background-color: #fff;
  display: inline-block;
  -webkit-transform: translate(0, -55%);
      -ms-transform: translate(0, -55%);
          transform: translate(0, -55%);
}

.form__input {
  border: 2.5px solid #1A1A1A;
  padding: 12px 10px;
  font-size: 16px;
}

.form__input.form-textarea {
  min-height: 132px;
  resize: none;
}

.form__input__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input__item:not(:last-child) {
  margin-bottom: 30px;
}

.form__input__item._error .input__item__title {
  color: #ff2000;
}

.form__input__item._error .form__input {
  border: 2.5px solid #ff2000;
}
.agreement-text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-top: 15px;
}
@media (min-width:620px) {
   .form__input__item._last {
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
   }
   .agreement-text {
      margin-top: 0;
   }
}

.form__input__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__date {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form__date-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__date-item._error .input__item__title {
  color: #ff2000;
}

.form__date-item._error .form__date-input {
  border: 2.5px solid #ff2000;
}

.form__date-input {
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #1A1A1A;
  border: 2.5px solid #1A1A1A;
  padding: 12px 10px;
  cursor: pointer;
}

.input__item__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
}

.form-button__send {
  background-color: #1A1A1A;
  color: #fff;
  width: 111px;
  height: 43px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: 2.5px solid #1A1A1A;
  margin-right: 20px;
}

.form-button__send:hover {
  background-color: #fff;
  color: #1A1A1A;
}

.checkbox__input {
  margin-right: 10px;
}

.checkbox__input._error {
  -webkit-box-shadow: 0 0 15px #ff2000;
          box-shadow: 0 0 15px #ff2000;
}

.form_ageement-link {
  color: #0000ff;
}

.footer {
  background-color: #2B2B2B;
  padding-top: 15px;
  padding-bottom: 30px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 0;
}

.footer__map iframe {
  width: 100%;
  height: 100%;
}

.footer__body {
  padding: 5px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  color: #fff;
}

.footer__logo {
  margin-bottom: 35px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer__logo img {
  max-width: 100%;
}

.footer__location {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  line-height: 200%;
}

.footer__item {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer__contact {
  margin-bottom: 35px;
  display: block;
  color: #fff;
}

.footer__contact:hover {
  text-decoration: underline;
}

.footer__button {
  width: 90px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fff;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer__button:hover {
  color: #1A1A1A;
  background-color: #fff;
}

@media (min-width: 550px) {
  ._btn-big {
    border: 4px solid #1A1A1A;
  }

  .download__info {
    padding-right: 10px;
  }

  .form__input__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .form__input__name .form__input__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .form__input__name .form__input__item:first-child {
    margin-right: 20px;
  }
}

@media (min-width: 620px) {
  .download__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__location {
    margin-bottom: 35px;
  }
}

@media (min-width: 767.98px) {
  .header {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }

  .header__burger {
    display: none;
  }

  .header__burger:hover::before {
    -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
            transform: rotate(12deg);
  }

  .header__burger:hover span {
    opacity: 0.4;
  }

  .header__burger:hover::after {
    -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }

  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gallery__img {
    padding-top: 115%;
    background-position: right;
  }

  .gallery__body-content {
    max-width: 330px;
  }

  .form__date-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .form__date-item:first-child {
    margin-right: 20px;
  }

  .footer__map {
    margin-right: 20px;
  }
}

@media (min-width: 860px) {
  .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .download__item:first-child {
    padding-right: calc(10px + 36 * ((100vw - 860px) / 1357-860));
  }

  .download__item:last-child {
    padding-left: calc(10px + 36 * ((100vw - 860px) / 1357-860));
  }
}

@media (min-width: 991.98px) {
  .room__row {
    grid-template-columns: repeat(3, 1fr);
  }

  .room__item:first-child {
    position: relative;
    left: -100%;
  }

  .room__item:first-child._active {
    left: 0;
  }

  .room__item:nth-child(2) {
    position: relative;
    bottom: 20%;
  }

  .room__item:nth-child(2)._active {
    bottom: 0;
  }

  .room__item:last-child {
    position: relative;
    right: -100%;
  }

  .room__item:last-child._active {
    right: 0;
  }

  .room__item {
    margin-bottom: 30px;
  }

  .page__form {
    margin-top: 120px;
  }
}

@media (min-width: 1024px) {
  .page__that {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .that__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 85px;
    padding-left: 55px;
  }
}

@media (min-width: 1357px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1357px) {
  .page__that {
    padding-top: calc(16px + 36 * ((100vw - 320px) / 1037));
  }

  .page__that {
    padding-bottom: calc(33px + 107 * ((100vw - 320px) / 1037));
  }

  .page__that-item:first-child {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }

  .page__that-title {
    font-size: calc(22px + 26 * ((100vw - 320px) / 1037));
  }

  .page__that-text {
    font-size: calc(14px + 8 * ((100vw - 320px) / 1037));
  }

  .page__room {
    margin-bottom: calc(30px + 90 * ((100vw - 320px) / 1037));
  }

  .one-photo {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1037));
  }

  .one-photo__image {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1037));
  }

  .one-photo__title {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1037));
  }

  .page__slider {
    padding-bottom: calc(30px + 90 * ((100vw - 320px) / 1037));
  }

  .page__slider__title {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1037));
  }

  .page__slider__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1037));
  }

  .gallery {
    padding-bottom: calc(30px + 90 * ((100vw - 320px) / 1037));
  }

  .gallery__first-text {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 1037));
  }

  .gallery__first-text {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1037));
  }

  .gallery__name {
    padding-bottom: calc(25px + 35 * ((100vw - 320px) / 1037));
  }

  .gallery__item:not(:last-child) {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1037));
  }

  .gallery__image {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .download {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 1037));
  }

  .download__item-content {
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1037));
  }

  .download__name {
    font-size: calc(22px + 6 * ((100vw - 320px) / 1037));
  }

  .download__text {
    font-size: calc(18px + 3 * ((100vw - 320px) / 1037));
  }

  .page__form {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1037));
  }

  .form__main-title {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1037));
  }

  .form__main-title {
    padding: calc(9px + 11 * ((100vw - 320px) / 1037));
  }

  .form__input__item:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1037));
  }

  .footer__contact {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 1037));
  }
}

@media (max-width: 1357px) and (max-width: 1357px) {
  .page__that-item:first-child {
    -ms-flex-preferred-size: calc(200px + 200 * ((100vw - 320px) / 1037));
        flex-basis: calc(200px + 200 * ((100vw - 320px) / 1037));
  }
}

@media (max-width: 1024px) {
  .page__that-title {
    margin-bottom: 15px;
  }
}

@media (max-width: 991.98px) {
  .header__menu-link {
    margin-right: 50px;
  }

  .header__info .header__info-location {
    margin-right: 20px;
  }

  .room__row {
    grid-template-columns: repeat(3, 45%);
    overflow: auto;
  }

  .room__row .room__item {
    padding-bottom: 20px;
  }

  .footer__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }
}

@media (max-width: 860px) {
  .download__item:first-child {
    margin-bottom: 40px;
  }
}

@media (max-width: 860px) and (max-width: 1357px) {
  .download__item:first-child {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 1037));
  }
}

@media (max-width: 767.98px) {
  .header__up {
    position: fixed;
    z-index: 41;
    top: 90px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .header__up {
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    -o-transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.8s, -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
  }

  .header__up._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header__tel {
    margin-right: 15px;
    color: #000;
    font-size: 14px;
  }

  ._icon-chevron-down {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__down {
    position: relative;
    z-index: 4;
    background-color: white;
  }

  .header__down {
    height: 60px;
  }

  .header__logo {
   position: relative;
   z-index: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70px;
            flex: 0 1 70px;
    font-size: 38px;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    top: -100vh;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }

  .header__menu._active {
    top: 0%;
  }

  .header__menu .header__menu-list {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__menu .header__menu-link {
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 220%;
    font-size: 35px;
  }

  .header__menu-link {
    margin-right: 0;
  }

  .header__info .header__info-location {
    margin-right: 12px;
  }

  .header__info .header__info-location span:last-child {
    display: none;
  }

  .page,
  main {
    margin-top: 68px;
  }

  .room__row {
    grid-template-columns: repeat(3, 270px);
  }

  .room__image {
    margin-bottom: 8px;
  }

  .swiper-button-prev {
    -webkit-transform: translate(25px, 0px);
        -ms-transform: translate(25px, 0px);
            transform: translate(25px, 0px);
  }

  .swiper-button:after {
    display: none;
  }

  .swiper-button-next {
    -webkit-transform: translate(-25px, 0px);
        -ms-transform: translate(-25px, 0px);
            transform: translate(-25px, 0px);
  }

  .gallery__image {
    margin-bottom: 15px;
  }

  .gallery__img {
    padding-top: 95%;
    background-size: contain;
  }

  .gallery__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .gallery__title {
    margin-bottom: 18px;
  }

  .gallery__text {
    font-size: 14px;
  }

  .form__body {
    padding: 0px 15px 15px 15px;
  }

  .form__input {
    padding: 10px 8px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__map iframe {
    height: 300px;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__button {
    border: 2px solid #fff;
  }
}

@media (max-height: 511px) and (max-width: 767.98px) {
  .header__menu {
    padding-top: 111px;
  }
}

@media (max-width: 767.98px) and (max-width: 1357px) {
  .header__menu .header__menu-link {
    font-size: calc(20px + 15 * ((100vw - 320px) / 1037));
  }
}

@media (max-width: 767.98px) and (max-width: 550px) {
  .header__menu .header__menu-link {
    font-size: 35px;
  }
}

@media (max-width: 767.98px) and (max-width: 550px) and (max-width: 1357px) {
  .header__menu .header__menu-link {
    font-size: calc(25px + 10 * ((100vw - 320px) / 1037));
  }
}

@media (max-width: 620px) {
  .download__info {
    margin-bottom: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .download__name {
    margin-bottom: 10px;
    padding-right: 10px;
  }

  .footer__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0px;
  }
}

@media (max-width: 555px) {
  .header__up-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .header__contact {
    font-size: 14px;
  }

  .header__lang {
    font-size: 14px;
  }

  .page,
  main {
    margin-top: 65px;
  }

  .room__row {
    grid-template-columns: repeat(3, 240px);
  }

  .swiper-button-prev:after {
    color: transparent;
    font-size: 0;
  }

  .swiper-button-next:after {
    color: transparent;
    font-size: 0;
  }

  .download__button {
    font-size: 14px;
    max-width: 11em;
    max-height: 3.5em;
  }

  .footer__button {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .footer__location {
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1357px) {
  .page__that {
    padding-top: calc(16px + 66 * ((100vw - 320px) / 1037));
  }

  .page__that {
    padding-bottom: calc(16px + 66 * ((100vw - 320px) / 1037));
  }

  .that__content {
    padding-right: calc(1px + 84 * ((100vw - 320px) / 1037));
  }

  .that__content {
    padding-left: calc(1px + 54 * ((100vw - 320px) / 1037));
  }
}

@media (max-width: 1357px) and (min-width: 767px) {
  .gallery__image {
    -ms-flex-preferred-size: calc(300px + 341 * ((100vw - 767px) / 1357-767));
        flex-basis: calc(300px + 341 * ((100vw - 767px) / 1357-767));
  }
}

@media (min-width: 480px) and (max-width: 767.98px) {
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}